@model pf_final_ds2.Models.Asistencia

@{
    ViewData["Title"] = "Editar Asistencia";
}

<h1>Editar Asistencia</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="InscripcionId" class="control-label">Inscripción</label>
        <select asp-for="InscripcionId"
            asp-items="@(new SelectList(ViewData["Inscripciones"] as IEnumerable<pf_final_ds2.Models.Inscripcion>, "Id", "Estudiante.NombreCompleto"))"
            class="form-control"></select>
        <span asp-validation-for="InscripcionId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fecha" class="control-label">Fecha</label>
        <input asp-for="Fecha" class="form-control" type="date" />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Asistio" class="control-label">Asistió</label>
        <input asp-for="Asistio" class="form-check-input" type="checkbox" />
        <span asp-validation-for="Asistio" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>